html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.achievement-layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 3rem;
}

.achievement-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.achievement-buttons {
    display: flex;
    position: relative;
}

.achievement-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 8rem;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    background-color: #6c5dd3;
    cursor: pointer;
    padding: 1.3rem;
    gap: 0.8rem;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.achievement-dropdown {
    position: absolute;
    top: 2.8rem;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    gap: 0.2rem;
    width: 8rem;
    box-sizing: border-box;
    z-index: 999;
}

.achievement-dropdown-item {
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 0.3rem;
    transition: background-color 0.3s;
}

.achievement-dropdown-item:hover {
    background-color: #e0e0e0;
}

.achievement-filter:hover {
    background-color: #8677e9;
}

.achievement-stat {
    display: flex;
    flex-direction: column;   
    gap: 1rem;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
}

.achievement-stat-box {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.achievement-stat-text p {
    margin: 0.25rem 0 0 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333333;
}

.achievement-stat-text h4 {
    margin: 0;
    font-size: 0.9rem;
    color: #666666;
}

.achievement-list {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    max-height: 73vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.achievement-box {
    display: flex;
    font-size: 1.2rem;
    background: transparent; 
    padding: 1rem;
    transition: all 0.2s ease;
}

.achievement-box:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
}

.achievement-box:hover {
    transform: translateY(-1px);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1); 
}

.achievement-title-icon, .achievement-desc-progress, .achievement-claim {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.achievement-title-icon {
    flex: 1;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.achievement-title-icon h3{
    margin: 0;
}

.achievement-desc-progress {
    flex: 3;
    gap: 2rem;
    
}

.achievement-claim {
    flex: 1;
    align-items: center;
}

.achievement-progress-bar {
    margin-top: 10px;
    margin-bottom: 20px;
}

.achievement-icon {
    display: block;
    font-size: 3rem;
    color: #6c5dd3;
}

.achievement-claim-button.locked {
    background-color: #919191; 
    pointer-events: none;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
  }
  
.achievement-claim-button.enabled {
    background-color: #4cc050;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.achievement-claim-button.enabled:hover {
    background-color: #45a049; 
}

.achievement-claim-button.claimed {
    background-color: #4cc050; 
    opacity: 0.5;
    pointer-events: none;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
}

.achievement-description {
    color: #333333;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    text-align: center;
    padding: 3rem;
    font-weight: bold;
}

.achievement-reward {
    color: #6c5dd3;
}

.task-font {
    font-weight: 600;
    color: #4CAF50;
}

.exp-font {
    font-weight: 600;
    color: #9C27B0; 
}

.time-font {
    font-weight: 600;
    color: #FF9800;
}

.progress-bar {
    width: 100%;
    height: 1rem;
    border: 1px solid #e0e0e0;
    background-color: #f8f8f8;
}

.progress-bar-fill {
    height: 100%;
    max-width: 100%;
    transition: width 0.3s;
    background-color: #0d6ad4;
}

.progress-text {
    font-size: 0.7em;
    font-weight: 600;
    color: #333333;
}

.loading-achievements {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
    height: 100vh;
}

body.dark-mode .achievement-stat {
    background-color: #2a2a2a;
    border: 1px solid #444444;
}

body.dark-mode .achievement-stat-text p {
    color: #ffffff;
}

body.dark-mode .achievement-stat-text h4 {
    color: #cccccc;
}

body.dark-mode .achievement-stat-box,
body.dark-mode .progress-bar {
    background-color: #3a3a3a;
    border: 1px solid #555555;
}

body.dark-mode .achievement-dropdown {
    background-color: #2a2a2a;
    border: 1px solid #555555;
}

body.dark-mode .achievement-dropdown-item, 
body.dark-mode .progress-text {
    color: #ffffff;
}

body.dark-mode .achievement-dropdown-item:hover {
    background-color: #3a3a3a;
}

body.dark-mode .achievement-list {
    background-color: #2a2a2a;
    border: 1px solid #555555; 
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .achievement-box:not(:last-child) {
    border-bottom: 1px solid #555555;
}

body.dark-mode .achievement-box:hover {
    box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.1); 
}

body.dark-mode .achievement-description {
    color: #ffffff;
    background-color: #3a3a3a;
    border: 1px solid #555555;
}

