.reflections-layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reflections-top {
    display: flex;
    flex-direction: column;
}

.reflections-buttons {
    display: flex;
    position: relative;
}

.reflections-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 8rem;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 600;
    background-color: #6c5dd3;
    cursor: pointer;
    padding: 1.3rem;
    gap: 0.8rem;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.reflections-dropdown {
    position: absolute;
    top: 2.7rem;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    gap: 0.2rem;
    width: 8rem;
    box-sizing: border-box;
}

.reflections-dropdown-item {
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 0.3rem;
    transition: background-color 0.3s;
}

.reflections-dropdown-item:hover {
    background-color: #e0e0e0;
}

.reflections-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    border: none;
    border-radius: 8px;
}

.reflections-bottom-layout {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 3rem;
}

.task-list {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0; 
    border-radius: 8px;
    max-height: 67vh;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
}

.task-list h4 {
    text-align: center;
}

.task-box {
    display: flex;
    font-size: 1.2rem;
    background-color: transparent;
    padding: 1.5rem;
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.task-title {
    font-weight: 600;
}

.task-date {
    font-size: 0.8rem;
    color: #666;
}

.reflections-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reflections-input {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    color: #333333;
    font-size: 16px;
    box-sizing: border-box;
    resize: none;
    height: 50vh;
}

.save-button {
    height: 2rem;
    border: none;
    border-radius: 8px;
    background-color: #6c5dd3;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    gap: 0.8rem;
    transition: background-color 0.3s;
}

.input-label {
    font-weight: 500;
    color: #333;
}

.reflections-filter:hover, .save-button:hover {
    background-color: #8677e9;
}

.selected-task {
    background-color: #e0e0e0;
    color: white;
    font-weight: bold;
}
  
body.dark-mode .task-list {
    background: #2c2c2c;
    border-color: #444444;
}

body.dark-mode .task-box {
    background: #3c3c3c;
    border-color: #555555;
    color: #ffffff;
}

body.dark-mode .reflections-input {
    background-color: #2c2c2c;
    color: #ffffff;
    border-color: #444444;
}

body.dark-mode .input-label {
    color: #ffffff;
}

body.dark-mode .dropdown-filter {
    background-color: #2c2c2c;
    border-color: #444444;
}

body.dark-mode .dropdown-item {
    color: #ffffff;
}

body.dark-mode .dropdown-item:hover {
    background-color: #444444;
}

body.dark-mode .save-button {
    background-color: #6c5dd3;
}

body.dark-mode .save-button:hover {
    background-color: #8677e9;
}

body.dark-mode .selected-task {
    background-color: #8677e9; 
    color: white;
    font-weight: bold;
    border-color: #a78bfa; 
}  
